@{
   ViewBag.Title = "Home Page";
}

<div class="row">
   <div class="col-md-6">
      <div class="product-info">
         <img src="~/img/VanGogh.jpg" alt="VanGogh Image" />
         <h3>Mug</h3>
         <ul class="product-props">
            <li>Price: $9.99</li>
            <li>Artist: Van Gogh</li>
            <li>Title</li>
            <li>Description: Self-portrait</li>
         </ul>
         <button id="buyButton">Buy</button>
      </div>
   </div>
   <div class="col-md-6">
      This is a fun site to do some buying of dutch products
   </div>
</div>
